<div *ngIf="!isEditMode">
  <h3>Neues Todo:</h3>
  <input appAutoInputWidth=200 type="text" [(ngModel)]="todoText" (keyup.enter)="addTodo()">
  <button (click)="addTodo()">OK</button>
</div>
<div *ngIf="isEditMode">
  <h3>Todo editieren:</h3>
  <input type="text" [(ngModel)]="todoText" (keyup.enter)="updateTodo()">
  <button (click)="updateTodo()">OK</button>
</div>

<app-listbox [(items)]="todos" (editItemClick)="editTodo($event)" (removeItemClick)="removeTodo($event)"
  (clearItemsClick)="clearTodos()">
</app-listbox>
<h3 *ngIf="jokeText">About Chuck Norris: {{ jokeText }}</h3>
<h3 *ngIf="thoughts">Trump thinks: {{ thoughts }}</h3>

<button (click)="goToAbout()">Gehe zu About</button>