<!-- EMMET -->
<!-- div>h3{Neue Todo:}+input[ngModel="todoText"]+button{OK} -->
<div *ngIf="!isEditMode">
  <div>
    <h3>Neue Todo:</h3>
    <input type="text" id="inputTextBox" [(ngModel)]="todoText" (keyup.enter)="addTodo()"><button (click)="addTodo()">OK</button>
  </div>
  <!-- div>h3{Todo hinzufügen:}+input:checkbox[name="todowaehlen"]-->
  <div *ngIf="!isEditMode">
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="allowAddTodo">
      Todo hinzufügen
    </label>
  </div>
</div>

<div *ngIf="isEditMode">
  <h3>Todo bearbeiten:</h3>
  <input type="text" [(ngModel)]="todoText" (keyup.enter)="updateTodo()"><button (click)="updateTodo()">OK</button>
</div>

<h3>Todos ({{todos.length}})</h3>
<ul>
  <li *ngFor="let todo of todos; let i = index" [ngClass]="{'selectItem': todoUpdateIndex === i}">
    <span (click)="editTodo(i)">{{ todo }}</span>
    <button (click)="removeTodo(i)">X</button>
  </li>
</ul>

<div>
  <button (click)="clearTodos()">Todoliste löschen</button>
</div>