<style>
  /* Typ Selector */
  div h3 {
    background-color: white;
  }

  /* Classen Selector */
  .myClass {
    background-color: green;
  }

  /* ID Selector */
  #myId {
    background-color: lightblue;
  }

  input{
    margin-right: 5px;
  }
</style>

<!-- EMMET -->
<!-- div>h3{Neue Todo:}+input[name="todotext"]+button{OK} -->
<div>
  <h3>Neue Todo:</h3>
  <input type="text" name="todotext"><button>OK</button>
</div>
<!-- div>h3{Todo aktivieren:}+input:checkbox[name="todowaehlen"]+button{OK}
<div>
  <h3>Todo aktivieren:</h3>
  <input type="checkbox" name="todowaehlen" id=""><button>OK</button>
</div> -->
<!-- ul#listbox>li*3#listitem$>lorem5+{$} -->
<ul id="listbox">
  <li id="listitem1">Lorem ipsum dolor sit amet.1</li>
  <li id="listitem2">Voluptates aut aliquid voluptate ut.2</li>
  <li id="listitem3">Omnis adipisci aliquid maiores quos.3</li>
</ul>